<html><head>

<title>Henley Asia | Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<!-- NEW SERVER -->
<style type="text/css">
<!--
body {
	background-color: #FFFFFF;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
-->
</style></script></head>

<body>
<table width="100%" border="0" cellpadding="0" cellspacing="0" height="100%">
  <tbody><tr>
    <td align="center" valign="middle"><img src="/assets/maincrop2.png" usemap="#menu" width="" border="0" height=""></td>
  </tr>
</tbody></table>

<map name="menu" id="menu">
  <area shape="rect" coords="50,50,980,350" href="mailto:peter@henleyasia.com">
</map>
</body></html>
